.access-log-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.access-log-container .form {
  width: 100%;
}

.access-log-container .table {
  width: 100%;
  max-height: 100%; /* 필요시 최대 높이도 설정 가능 */
  overflow-y: auto; /* 테이블 내용이 길어지면 스크롤 */
}

.access-log-container .datepicker,
.access-log-container .btn {
  width: 100%;
}

/* 부모 요소에 flexbox 설정 */
.row.g-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 폼 그룹 스타일 */
.access-form-group {
  min-width: 200px;
  margin-top: 10px;
}

/* 레이블 스타일 */
.access-form-label {
  margin-right: 8px;
  min-width: 50px;
  white-space: nowrap;
}

.custom-form-control {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 커스텀 데이트피커 스타일 */
.custom-datepicker {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 검색 버튼 스타일 */
.access-search-btn-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-search-btn {
  margin-top: 14%;
  margin-left: 15%;
}
