.canvas {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 100%; /* 부모 요소의 높이에 맞춤 */
  max-width: 400px; /* 최대 너비 설정 (기본 크기를 이 크기로 설정) */
  max-height: 400px; /* 최대 높이 설정 */
  aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
  border: 1px solid #ccc; /* 테두리 설정 */
}

.map-button {
  margin-top: 10px;
}
